<div class="diagram-wrapper">
  <div #canvas class="canvas-3d"></div>

  <div class="info-panel">
    <h4>Steelcase ke : <b>{{ steelcase.steelcase_index + 1 }} — {{ steelcase.steelcase_code }} </b></h4>

    <div class="meta">
      <span>Empty: {{ steelcase.emptyPercent }}%</span>
      <span>Weight: {{ steelcase.totalWeight }} kg</span>
    </div>

    <table>
      <thead>
        <tr>
            <th>Color</th>
            <th>Part</th>
            <th>Nama</th>
            <th>Dimensi</th>
            <th>Qty</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of partSummary">
            <td>
                <span
                class="color-box"
                [style.background]="p.color">
                </span>
            </td>
            <td>{{ p.code }}</td>
            <td>{{ p.name }}</td>
            <td class="dimensi">{{ p.dimensi }}</td>
            <td class="qty">{{ p.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
