<div class="table-wrapper">
  <div class="table-title">Master User</div>
  <button class="btn btn-primary" (click)="add()">+ Tambah User</button>

  <div *ngIf="loading">Loading...</div>

  <table class="app-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nama</th>
        <th>Email</th>
        <th>Role</th>
        <th>Aksi</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u.id }}</td>
        <td>{{ u.name }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.role }}</td>
        <td>
          <button class="btn btn-secondary" (click)="edit(u.id!)">Edit</button>
          <button class="btn btn-danger" (click)="delete(u.id!)">Hapus</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>