<div class="card">
  <div class="card-title">Request Susun Part di Steelcase</div>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <!-- PROJECT NAME -->
    <div class="form-group">
      <label>Project Name</label>
      <input
        type="text"
        formControlName="project_name"
        [class.invalid]="form.get('project_name')?.invalid && form.get('project_name')?.touched">

      <small class="error"
        *ngIf="form.get('project_name')?.invalid && form.get('project_name')?.touched">
        Project name wajib diisi
      </small>
    </div>

    <!-- STEELCASE -->
    <div class="form-group">
      <label>Steelcase</label>
      <select formControlName="steelcase_code"
        [class.invalid]="form.get('steelcase_code')?.invalid && form.get('steelcase_code')?.touched">
        <option value="">-- Pilih Steelcase --</option>
        <option *ngFor="let s of steelcases" [value]="s.id">
          {{ s.kode }} - {{ s.type }}
        </option>
      </select>
      <small class="error"
        *ngIf="form.get('steelcase_code')?.invalid && form.get('steelcase_code')?.touched">
        Steelcase wajib dipilih
      </small>
    </div>

    <!-- FILE UPLOAD -->
    <div class="form-group">
      <label>Upload File Excel</label>
      <input
        type="file"
        accept=".xls,.xlsx"
        (change)="onFile($event)">
      <small>Format .xls / .xlsx</small>
    </div>

    <!-- ACTION -->
    <div>
      <button type="submit" class="btn btn-primary">Susun Part ke Steelcase</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Batal</button>
    </div>

  </form>
</div>

<!-- DIAGRAM DI BAWAH FORM -->
<div *ngIf="diagramData.length && projectId">
  <!-- <app-export
    [projectId]="projectId">
  </app-export> -->

  <app-steelcase-selector
    [projectId]="projectId"
    [steelcases]="diagramData"
    [steelcaseUsed]="steelcaseUsed"
    [steelcaseData]="steelcaseData"
    [steelcaseItems]="steelcaseItems"
    (selected)="selectedSteelcase = $event">
  </app-steelcase-selector>

  <app-project-diagram
    *ngIf="selectedSteelcase"
    [steelcase]="selectedSteelcase">
  </app-project-diagram>
</div>

